<h1>New Comment</h1>
<div class="row">
  <div class="col-md-4">
    <p>Guidelines for comments</p>
    <ul>
      <li>No bad language</li>
      <li>The incessant use of hashtagging will get you banned</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: {topic: @topic, post: @post, comment: @comment} %>
  </div>
</div>