<% if policy(Favourite.new).create? %>
  <div class="favorite">
    <% if favourite = current_user.favourited(post) %>
      <%= link_to [post, favourite], class: 'btn btn-danger', method: :delete do %>
        <i class="glyphicon glyphicon-star-empty"> </i>&nbsp; Unfavorite
      <% end %>
    <% else %>
      <%= link_to [post, Favourite.new], class: 'btn btn-primary', method: :post do %>
        <i class="glyphicon glyphicon-star"> </i>&nbsp; Favorite
      <% end %>
    <% end %>
  </div>
<% end %>