<% if policy(Vote.new).create? %>
  <div>
    <div><%= link_to " ", post_up_vote_path(post), class: vote_link_classes(post, 'up'), method: :post %></div>
    <div><strong><%=  post.points %></strong></div>
    <div><%= link_to " ", post_down_vote_path(post), class: vote_link_classes(post, 'down'), method: :post %></div>
  </div>
<% end %>